.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  display: none;
}

.background {
  background-color: red;
}

:root {
  --onboard-connect-header-color: #13203d;
  --onboard-connect-sidebar-color: #13203d;

  --onboard-connect-sidebar-progress-color: #2c3a57;

  --onboard-font-family-normal: Inter-Regular;
  --onboard-font-family-semibold: Inter-SemiBold;
  --onboard-font-family-light: Inter-Regular;

  --onboard-close-button-background: none;
  --onboard-close-button-color: #13203d;
  --onboard-modal-z-index: 10000;
}
